*{
  box-sizing: border-box;
}

body{
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.nav {
  width: 100%;
  text-align: center;
  background-color: black;
}

.nav li{
    list-style: none;
  display: inline;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 115%;
  font-style: oblique;
  
}

.nav a{
  display: inline-block;
  margin: 0 30px;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: rgba(212, 175, 55, 0.5); /* Doré avec une opacité de 50% au survol */
}

.nav a.active {
  color: rgba(212, 175, 55, 0.5); /* Doré avec une opacité de 50% pour le lien actif */
}

.header{
  background-color: black;
  text-align: center;
  padding: 1%;
  width: 100%;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

.social-icon {
  color: white;
  margin: 0 20px;
}