/* Global */

*{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Nav Header */

.nav {
  width: 100%;
  text-align: center;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav li{
    list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 115%;
  font-style: oblique;
  flex: 1 1 auto;
}

.nav a{
  display: inline-block;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: rgba(212, 175, 55, 0.5); /* Doré avec une opacité de 50% au survol */
}

.nav a.active {
  color: rgba(212, 175, 55, 0.5); /* Doré avec une opacité de 50% pour le lien actif */
}

/* Header */  

.header{
  background-color: black;
  text-align: center;
  padding: 1%;
  width: 100%;
}

/* Footer */

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  bottom: 0; 
  width: 100%; 
  flex-shrink: 0;
}

.social-icon {
  color: white;
  margin: 0 20px;
}

/* Home Page */

.home {
  text-align: center;
  color: white;
}

.home-intro {
  color: rgba(212, 175, 55);
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-title {
  font-weight: bold;
  font-size: 6em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-description {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2em; 
}

/* About Page */

.about {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-title {
  font-weight: bold;
  font-size: 2.5em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Project - Card */

.projects-title {
  font-size: 3em;
  margin-bottom: 1%; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 70%;
  padding: 5px;
  margin: 20px;
  transition: transform 0.3s ease;
  transform-origin: center center;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  flex: 1 0 auto;
 
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 60%;
  border-radius: 10px;
}

.card-description {
  text-align: center;
}

.card-title {
  font-weight: bold;
}

@media (min-width: 600px) {
  /* Sur les écrans d'au moins 600px de large, les cartes prendront 50% de la largeur (2 par ligne) */
  .card {
    width: 50%;
  }
  .about-title {
    font-size: 3em;
  }
}

@media (min-width: 900px) {
  /* Sur les écrans d'au moins 900px de large, les cartes prendront 33% de la largeur (3 par ligne) */
  .card {
    width: 33%;
  }
  .about-title {
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  /* Sur les écrans d'au moins 1200px de large, les cartes prendront 25% de la largeur (4 par ligne) */
  .card {
    width: 25%;
  }  
  .about-title {
    font-size: 5em;
  }
}

/* About page - Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-image {
  width: 60%;
  object-fit: contain;
}

.modal-description, .modal-title {
  color: white;
  text-align: center;
}

.modal-title {
  font-size: 2em;
  font-weight: bold;
}

.modal-content {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  color:white;
  width: 80%;
}

.modal-link {
  color: white;
}

/* Contact Page */

.form {
  background-color: grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin:1%;
  width: 60%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-label {
  flex: 1;
  font-weight: bold;
  font-size: 1.2em;
}

.form-input,
.form-textarea {
  width: 10%;
  flex: 2;
  font-weight: bold;
  font-size: 1.2em;
}

.form-textarea {
  height: 150px; 
}

.form-submit {
  width: 10%; 
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-appearance: none;
  appearance: none;
}

/* Media Queries */

@media (max-width: 768px) {
  .form {
    width: 90%; 
  }

  .form-submit {
    width: 70%; 
  }
}